<%- include('header') %>
  <main>
    <% if(locals.user) {%>
      <div class="container-fluid bg-secondary p-2 d-flex justify-content-center">
        <a href="/create" class="btn btn-primary">Create new Message</a>
      </div>
      <% } %>
      <% //locals.messages=[{title:'bruhhh',text:'sjfbdbfdbfdkbfkdbf',user:'dsfbfd'}] %> 
        <ul>
          <% if(locals.messages) for(const message of locals.messages){ %>
            <li class="card m-3 bg-light">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                 <h2> <%= message.title %></h2>
                </div>
                <p class="card-text">
                  <%= message.text %>
                </p>
                <div class="card-author text-end lead">
                  <% if(locals.user?.isMember){ %>
                    <%= message.user %>
                      <% } else{ %>
                        <%= 'Anonymous' %>
                          <% } %>
                </div>
              </div>
            </li>
            <% } %>

        </ul>

  </main>

  <%- include('footer') %>